{% extends "informacion.html" %}
{% block barralateral %}
  <a href=""><img src="static/images/ley-patrimonio-roll.jpg"></a> <br />
  <a href=""><img src="static/images/pintura-rupestre-roll.jpg"></a><br />
  <a href=""><img src="static/images/geoglifos-roll.jpg"></a><br />
  <a href=""><img src="static/images/petroglifos-roll.jpg"></a><br />
  <a href=""><img src="static/images/amoladores-roll.jpg"></a><br />
  <a href=""><img src="static/images/monumentos-roll.jpg"></a><br />
  <a href=""><img src="static/images/micropetroglifos-roll.jpg"></a><br />
  <a href=""><img src="static/images/piedras-cerros-roll.jpg"></a><br />
  <a href=""><img src="static/images/distribucion-geogra-roll.jpg"></a><br />
  <a href=""><img src="static/images/galeria-fotos-roll.jpg"></a><br />

{% endblock %}

{% block contenido %}

NOTA:

Los colores que aparecen en cada una de las Manifestaciones Rupestres y sus Mapas, corresponden a las convenciones que se han utilizado desde el comienzo en el ANAR, y no tienen ninguna otra connotación

OJO……………IMPORTANTISIMO……………ACLARATORIA En algunas fotografías de petroglifos de ésta página y publicaciones sobre el tema, aparecen los surcos pintados de blanco. Esto se debe a las técnicas, herramientas y métodos utilizados en el pasado por los investigadores en todos los países, para el registro y documentación gráfica de la información. 

En la actualidad NO ES RECOMENDABLE LIMPIAR LAS PIEDRAS de las diferentes pátinas (vegetales, tierra…ect) CON CEPILLOS, y menos RASPAR, PINTAR LOS SURCOS, HACER MOLDES CON BARRO, UTILIZAR RESINAS sobre las piedras para el mismo fin, y /o para resaltar las imágenes, porque invalida trabajos a realizarse en los sitios rupestres, donde toda la información del contexto original, es necesaria para estudios de datación y conservación entre otros, además de alterar y desproteger el material. 

Con las nuevas Tecnologías Digitales, realmente se puede realizar un trabajo de registro y documentación de imágenes de mucha calidad y exactitud, sin intervenir las piedras y/o el yacimiento.

{% endblock %}
