{% extends "informacion.html" %}
{% load staticfiles %}
{% block contenido %}
<p>Los Amoladores l&iacute;ticos son depresiones de formas ovaladas hechas por abrasi&oacute;n. Los Puntos Acoplados son grabados de forma semi-circular en la roca. </p>

<p>Estas dos manifestaciones se han encontrado tanto acompa&ntilde;adas de petroglifos como separadas de ellos, constituyendo yacimientos rupestres en s&iacute; mismo. </p>

<p>Acompa&ntilde;ando los petroglifos que bordean los r&iacute;os, aparecen numerosas piedras con surcos en forma de amoladores, que pudieran indicar las formas de los instrumentos l&iacute;ticos utilizados para grabar los petroglifos.  </p>

<img src="{% static 'anarapp/amoladores.JPG' %}">
<img src="{% static 'anarapp/cupulas-grand-.gif' %}">


{% endblock %}
