{% extends "informacion.html" %}
{% load staticfiles %}

{% block contenido %}

<img src="{% static 'anarapp/teques-grande.gif' %}">
<img src="{% static 'anarapp/ACF2C6E.JPG' %}">
<img src="{% static 'anarapp/_tewani-grand.gif' %}">
<img src="{% static 'anarapp/ACFB39.gif' %}">
<img src="{% static 'anarapp/batea,grande.gif' %}">
<img src="{% static 'anarapp/Los-arrendajos---Estado-Bol.gif' %}">
<img src="{% static 'anarapp/ACF2CB7.JPG' %}">
<img src="{% static 'anarapp/piedra-m\'itica-natural-gran.gif' %}">
<img src="{% static 'anarapp/Petro-de-Panariwa--grande.gif' %}">

{% endblock %}
