{% extends "informacion.html" %}
{% load staticfiles %}

{% block contenido %}
<p>Los Geoglifos son manifestaciones rupestres grabadas sobre tierra, que como los petroglifos monumentales del estado Amazonas, sin duda buscaban asegurar su visibilidad a lo lejos, posiblemente son contempor&aacute;neos de los petroglifos. </p>

<p>Son conocidos en el mundo entero los geoglifos de Nazca, Per&uacute;, pero muy pocos venezolanos y a&uacute;n menos extranjeros, saben de la existencia de los geoglifos en el estado Carabobo y de enigm&aacute;ticos relatos que los ubican tambi&eacute;n en el estado Yaracuy. </p>

<p>El ANAR los documenta en videos de fotograf&iacute;a a&eacute;rea, mapas y publicaciones ilustradas. </p>

<img src="{% static 'anarapp/geoglifo-grand.gif' %}">

{% endblock %}
