{% extends "informacion.html" %}

{% block contenido %}
<p>Gaceta Oficial No. 4.623, Extraordinario de fecha 03 de Septiembre de 1.993.   TITULO I DEL PATRIMONIO CULTURAL</p>

<p> CAPITULO I  DISPOSICIONES GENERALES </p>

<p>ARTICULO 1&ordm; Esta Ley tiene por objeto establecer los principios que han de regir la defensa del Patrimonio Cultural de la Rep&uacute;blica, comprendiendo &eacute;sta su investigaci&oacute;n, rescate, preservaci&oacute;n, conservaci&oacute;n, restauraci&oacute;n, revitalizaci&oacute;n, custodia, vigilancia, identificaci&oacute;n y todo cuanto requiera su protecci&oacute;n cultural, material y espiritual. </p>

<p>ARTICULO 2&ordm; La defensa del Patrimonio Cultural de la Rep&uacute;blica es obligaci&oacute;n prioritaria del Estado y de la ciudadan&iacute;a. Se declara de utilidad p&uacute;blica e inter&eacute;s social la preservaci&oacute;n, defensa y salvaguarda de todas las obras, conjuntos y lugares creados por el hombre o de origen natural, que se encuentren en el territorio de la Rep&uacute;blica, y que por su contenido cultural constituyan elementos fundamentales de nuestra identidad nacional. </p>

<p>ARTICULO 3&ordm; Cuando la preservaci&oacute;n de bienes que integren el Patrimonio Cultural de la Rep&uacute;blica, implique una limitaci&oacute;n que desnaturalice los atributos del derecho de propiedad, su titular podr&aacute; reclamar al Estado la indemnizaci&oacute;n correspondiente. En estos casos, a los efectos de determinar la indemnizaci&oacute;n, se seguir&aacute;n los criterios establecidos en la Ley de Expropiaci&oacute;n por Causa de Utilidad P&uacute;blica o inter&eacute;s Social.</p>

<p> ARTICULO 5&ordm; Corresponder&aacute; oficialmente al Instituto del Patrimonio Cultural todo cuanto ata&ntilde;e a la defensa de Patrimonio Cultural aqu&iacute; prevista, con las excepciones que la Ley establezca. </p>

<p>CAPITULO II  DE LOS BIENES QUE CONSTITUYEN EL PATRIMONIO CULTURAL DE LA REPUBLICA </p>

<p>ARTICULO 6&ordm; El Patrimonio Cultural de la Rep&uacute;blica a los efectos de esta Ley, est&aacute; constituido por los bienes de inter&eacute;s cultural as&iacute; declarados que se encuentren en el territorio nacional o que ingresen a &eacute;l quien quiera que sea su propietario conforme a lo se&ntilde;alado seguidamente:  1. Los bienes muebles e inmuebles que hayan sido declarados o se declaren monumentos nacionales;  2. Los bienes inmuebles de cualquier &eacute;poca que sea de inter&eacute;s conservar por su valor hist&oacute;rico, art&iacute;stico, social o arqueol&oacute;gico que no hayan sido declarados monumentos nacionales; </p>

<p>3. Los bienes muebles de cualquier &eacute;poca que sea de inter&eacute;s conservar por su excepcional valor hist&oacute;rio o art&iacute;stico; </p>

<p>4. Las poblaciones y sitios que por sus valores t&iacute;picos, tradicionales, naturales, hist&oacute;ricos, ambientales, art&iacute;sticos, arquitect&oacute;nicos o arqueol&oacute;gicos, sean declarados dignos de protecci&oacute;n y conservaci&oacute;n. Los centros hist&oacute;ricos de pueblos y ciudades que lo ameriten y que tengan significaci&oacute;n para la memoria urbana; </p>

<p>5. Los testimonios hist&oacute;ricos y sitios arqueol&oacute;gicos vinculados con el pasado; </p>

<p>6. El patrimonio documental y bibliogr&aacute;fico, archivos, bibliotecas, mapotecas, fonotecas, videotecas, cinematecas y dem&aacute;s instituciones de igual naturaleza, tutelados actualmente por organismos espec&iacute;ficos sin desconocer la titularidad de dichos organismos sobre los mismos; </p>

<p>7. El patrimonio arqueol&oacute;gico y paleontol&oacute;gico donde quiera que se encuentren, y </p>

<p>8. Cualquier otro bien de inter&eacute;s cultural que amerite ser declarado como tal.</p>

<p> TITULO IV </p>

<p>DEL PATRIMONIO ARQUEOL&Oacute;GICO Y PALEONTOL&Oacute;GICO DE LA REPUBLICA</p>

<p>ARTICULO 35&ordm; Son propiedad del Estado todos los bienes culturales declarados Patrimonio Cultural de la Rep&uacute;blica, relativos al patrimonio arqueol&oacute;gico, prehisp&aacute;nico, colonial, republicano y moderno, as&iacute; como los bienes del patrimonio paleontol&oacute;gico que fuesen descubiertos en cualquier zona del suelo o subsuelo nacional, especialmente las submarinas. </p>

<p>ARTICULO 36&ordm; Se proh&iacute;be la destrucci&oacute;n de los bienes a que se refiere el art&iacute;culo anterior. </p>

<p>ARTICULO 37&ordm; Los propietarios de terrenos bajo los cuales se encuentren objetos arqueol&oacute;gicos o paleontol&oacute;gicos, no podr&aacute;n oponerse a los trabajos de exploraci&oacute;n, levantamiento e inventario que el Instituto del Patrimonio Cultural autorice. </p>

<p>ARTICULO 39&ordm; Todo trabajo que tienda a descubrir, explorar, estudiar o excavar yacimientos arqueol&oacute;gicos o paleontol&oacute;gicos, deber&aacute; ser previamente autorizado por el Instituto del Patrimonio Cultural. La autorizaci&oacute;n anterior solo ser&aacute; concedida a arque&oacute;logos o paleont&oacute;logos profesionales, as&iacute; como a renombradas instituciones cient&iacute;ficas, nacionales o extranjeras. </p>

<p>ARTICULO 40&ordm; El Instituto del Patrimonio Cultural podr&aacute; permitir la salida de colecciones duplicadas de objetos arqueol&oacute;gicos a favor de instituciones cient&iacute;ficas extranjeras cuando no se juzguen &uacute;tiles para los museos o instituciones nacionales, estadales o municipales, igualmente permitir&aacute; la salida de aquellas piezas que requieran tratamiento especial para conservaci&oacute;n, restauraci&oacute;n o examen. </p>

<p>TITULO VI </p>

<p>DE LAS SANCIONES</p>

<p>ARTICULO 44&ordm; Quedan obligados a una participaci&oacute;n activa en pro de la defensa, rescate y conservaci&oacute;n del Patrimonio Cultural de la Rep&uacute;blica todos los ciudadanos que habiten en su territorio. Ser&aacute; penado con dos 2 a 4 a&ntilde;os de prisi&oacute;n quien destruya, deteriore o da&ntilde;e cualesquiera de los bienes establecidos en los art&iacute;culos 2 y 6 de esta Ley. </p>

<p>ARTICULO 45&ordm; El que por haber obrado con imprudencia o negligencia, o bien con impericia en su profesi&oacute;n, arte o industria, o por inobservancia de esta Ley, de sus reglamentos, normas, &oacute;rdenes escritas o disposiciones oficiales ocasionen alg&uacute;n da&ntilde;o a esos bienes, ser&aacute; sancionado con la mitad de la pena anterior.</p>

<p> ARTICULO 46&ordm; Quienes en b&uacute;squeda de bienes arqueol&oacute;gicos o paleontol&oacute;gicos realicen exploraciones o excavaciones no autorizadas, ser&aacute;n sancionados con la pena prevista en el art&iacute;culo que antecede. </p>

{% endblock %}




