{% extends "informacion.html" %}
{% load staticfiles %}

{% block contenido %}
<p>Son admirados los megal&iacute;ticos de Stonehenge, pero ignorados los c&iacute;rculos de piedra con grabados astron&oacute;micos del estado Cojedes, las filas de megal&iacute;ticos del estado Carabobo, y los menhires y d&oacute;lmenes del estado Amazonas.</p>

<p> Los grabados de petroglifos y puntos acoplados sobre menhires que se encuentran en Venezuela, indicadores de la contemporaneidad de ambas manifestaciones en nuestro pa&iacute;s, son de importancia mundial en el dif&iacute;cil &aacute;mbito de las dataciones arqueol&oacute;gicas. </p>

<p>El ANAR posee los relatos y dibujos de exploradores tan antiguos como Chanffanjon y Humboldt, y fotograf&iacute;as digitalmente resaltadas de estos hermosos ejemplares.</p>

<img src="{% static 'anarapp/ACF2ACC.gif' %}">
<img src="{% static 'anarapp/ACF2AD0.gif' %}">


{% endblock %}
