{% extends "informacion.html" %}
{% load staticfiles %}

{% block contenido %}
<p> Los Micropetroglifos son peque&ntilde;os guijarros o lajas l&iacute;ticas con grabados. </p>

<p>De los estados centrales y andinos se conocen ejemplares de micropetroglifos, que aparecen en la literatura antropol&oacute;gica rese&ntilde;ados en relatos sobre conjuros m&aacute;gicos, su uso como calendarios o monedas y entre los informantes ind&iacute;genas su uso por chamanes para atraer la lluvia.</p>

<img src="{% static 'anarapp/micro-2-grade.gif' %}">
<img src="{% static 'anarapp/micro-modifi-grande.gif' %}">


{% endblock %}
