{% extends "informacion.html" %}
{% load staticfiles %}

{% block contenido %}

<p>Las Piedras M&iacute;ticas Naturales son una manifestaci&oacute;n rupestre del mayor inter&eacute;s por su frecuente relaci&oacute;n mitol&oacute;gica con los petroglifos. Estas piedras no son obra humana sino resultado del trabajo de la naturaleza que las dot&oacute; de formas especiales por las cu&aacute;les fueron identificadas con ciertos mitos. </p>

<p>Los Cerros M&iacute;ticos Naturales, comparten con las Piedras M&iacute;ticas Naturales el ser identificados como entes de conexi&oacute;n con el mundo subterr&aacute;neo, el mundo de las tinieblas, de los esp&iacute;ritus. </p>

<p>Los cerros y piedras m&iacute;ticas naturales tambi&eacute;n cuentan en nuestro pa&iacute;s con interpretaciones y significados correlacionados con la variada y extensa mitolog&iacute;a que a&uacute;n forma parte viva de la cultura de 30 etnias ind&iacute;genas ling&uuml;&iacute;sticamente diferenciadas. </p>

<p>El ANAR documenta toda esta riqueza en fotos, fichas de campo y publicaciones, tanto de investigadores contempor&aacute;neos como de exploradores y cronistas que conocieron el interior de Venezuela siglos antes que se creara como tal la ciencia de la antropolog&iacute;a.</p>

<img src="{% static 'anarapp/ACFB5F.gif' %}">
<img src="{% static 'anarapp/ACF2D5B.JPG' %}">


{% endblock %}
