{% extends "informacion.html" %}
{% load staticfiles %}

{% block contenido %}
<p>El grabado sobre la piedra es lo que hoy conocemos con el nombre de Petroglifo. </p>

<p>En Venezuela los encontramos diseminados pr&aacute;cticamente por todo el territorio: en las sabanas, en las altas monta&ntilde;as, en las orillas y en medio de los r&iacute;os, tambi&eacute;n en las selvas. Hay autores que indican que los petroglifos orientados o visibles a grandes distancias serv&iacute;an de gu&iacute;a a las tribus inmigrantes. Para otros estas piedras pudieron ser l&iacute;mites territoriales prehist&oacute;ricos, indicadores de sitios de reuni&oacute;n, representaciones cartogr&aacute;ficas de primitivas rutas o indicadores de sitios funerarios. </p>

<p>Se destacan en Venezuela petroglifos de inusitados grosor y profundidad de surcos (hasta 10 cms.) los cuales se encuentran bordeando el pie de monte andino en el estado Barinas en un &aacute;rea de 40 kms. de largo. En Barinas adem&aacute;s de los estados Falc&oacute;n y Bol&iacute;var aparecen ejemplares en los que el dibujo resalta en alto relieve lineal en lugar del m&aacute;s com&uacute;n bajorrelieve de la mayor&iacute;a de los petroglifos. En el estado Amazonas se encuentran murales de hasta 30 mts. de largo grabados a m&aacute;s de 50 mts de altura sobre inaccesibles laderas de piedra pulida. </p>

<p>La literatura antropol&oacute;gica posee pocos casos en los que el significado de los petroglifos, signos anteriores a la escritura, hayan sido cient&iacute;ficamente interpretados y confirmados. </p>

<p>Venezuela posee la suerte de tener a&uacute;n viva esta manifestaci&oacute;n, al sur del R&iacute;o Negro donde chamanes de antiguas etnias de origen Arawako a&uacute;n la utilizan y la interpretan en ceremonias de iniciaci&oacute;n masculinas y femeninas.  </p>

<img src="{% static 'anarapp/ACFB54.gif' %}">
<img src="{% static 'anarapp/petroglifo-sol-y-luna-grand.gif' %}">


{% endblock %}
