{% extends "informacion.html" %}
{% load staticfiles %}

{% block contenido %}
<p>Las Pinturas Rupestres, tambi&eacute;n llamadas Pictograf&iacute;as, aparecen realizadas en cuevas y abrigos protegidas del clima, y de la visibilidad f&aacute;cil. Son mundialmente reconocidas las cuevas de Altamira y de Lascaux por sus pinturas rupestres, pero muy pocas personas saben que en Venezuela existen m&aacute;s de 20 abrigos y cuevas con pinturas rupestres de &eacute;poca prehisp&aacute;nica, y m&aacute;s a&uacute;n, que estas manifestaciones se extienden hasta el presente, en las pinturas que acompa&ntilde;an los restos mortuorios de etnias ind&iacute;genas contempor&aacute;neas, los rituales de la tradici&oacute;n espiritista o santera, y que aparecen incluso en grandes murales al aire libre (estado Aragua) de manufactura prehisp&aacute;nica. </p>

<p>El ANAR contiene estos registros en documentos bibliogr&aacute;ficos y fotogr&aacute;ficos.</p>

<img src="{% static 'anarapp/Pintura-Cueva-Gavilan28-gra.gif' %}">
<img src="{% static 'anarapp/P-Rupest--Cueva-del-Cerro-G.gif' %}">

{% endblock %}
