<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	{% load url from future %}
	<title>Archivo Nacional de Arte Rupestre</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'anarapp/chosen.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'anarapp/anar.css' %}">
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="{% static 'anarapp/chosen.jquery.js' %}"></script>
	<script>
		$(document).ready(function(){$(".chzn-select").chosen()})
	</script>
	
</head>
<body>

	<ul id="nav">
		<li><a href="/">Inicio</a></li>
		<li><a href="/quienes">Quienes Somos</a></li>
		<li><a href="/patrimonio">Patrimonio Cultural Arqueológico</a></li>
		<li><a href="#programa">Programa de Educacion</a></li>
		<li><a href="/otros">Otros Servicios</a></li>
		<li><a href="#contacto">Contacto</a></li>
	</ul>
	<div id="logo">
		<img src="{% static 'anarapp/logo.png' %}" height="100"><br/>
	</div>

	<table width="438" left-padding="100" border="0" cellspacing="0" cellpadding="0" align="left">
			<tr align="center">
				<td>
					<a href="productos" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','images/botones-anar/productos/productos-roll.jpg',1)">
						<img src="{% static 'images/botones-anar/productos/productos.png' %}" name="Image14" width="110" height="21" border="0">
					</a>
				</td>
			</tr>
			<tr align="center">
				<td>
					<img src="{% static 'images/botones-anar/productos/servicio.png' %}" name="Image15" width="110" height="21" border="0">
				</td>
			</tr>
			<tr align="center">
				<td>
					<a href="visitas" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','images/botones-anar/productos/visitas-roll.jpg',1)">
						<img src="{% static 'images/botones-anar/productos/visitas.png' %}"name="Image16" width="110" height="21" border="0">
					</a>
				</td>
			</tr>

		</table>
		
		<table width="550" cellspacing="0" border="0">
			<tr>
				<td >
					<p align="justify">
						El <strong>ANAR</strong> se hace accesible al p&uacute;blico a trav&eacute;s de consultas personales en sala, su p&aacute;gina web, su bolet&iacute;n. Presta servicios de impresi&oacute;n y reproducci&oacute;n de documentos.&nbsp;
						<br />
						<br />
						Se convertir&aacute; en la base indispensable para la divulgaci&oacute;n de una nueva conciencia: en Venezuela <strong>SI EXISTE</strong> un extraordinario Patrimonio Arqueol&oacute;gico digno de conocer y proteger.
					</p>
					<br />
					<br />
				</td>
			</tr>
		</table>

		<div align="center">
			<table border="0" cellspacing="5" cellpadding="0" align="center">	
				<tr>
					<td valign="bottom">
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td class="sz" align="center">
									<img src="{% static 'anarapp/servicios/servicios1.png' %}" border="1" style="border-color:000000;">	
								</td>
							</tr>
						</table>
					</td>
					<td valign="bottom">
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td class="sz" align="center">
									<img src="{% static 'anarapp/servicios/servicios2.png' %}" border="1" style="border-color:000000;">
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</table>

		<!-- Tomado de anar.org.ve -->
</body>
</html>
