<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	{% load url from future %}
	<title>Archivo Nacional de Arte Rupestre</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'anarapp/chosen.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'anarapp/anar.css' %}">
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="{% static 'anarapp/chosen.jquery.js' %}"></script>
	<script>
		$(document).ready(function(){$(".chzn-select").chosen()})
	</script>
	
</head>
<body>

	<ul id="nav">
		<li><a href="/">Inicio</a></li>
		<li><a href="/quienes">Quienes Somos</a></li>
		<li><a href="/patrimonio">Patrimonio Cultural Arqueológico</a></li>
		<li><a href="#programa">Programa de Educacion</a></li>
		<li><a href="/otros">Otros Servicios</a></li>
		<li><a href="#contacto">Contacto</a></li>
	</ul>
	<div id="logo">
		<img src="{% static 'anarapp/logo.png' %}" height="100"><br/>
	</div>

	<table width="438" left-padding="100" border="0" cellspacing="0" cellpadding="0" align="left">
			<tr align="center">
				<td>
					<a href="productos" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','images/botones-anar/productos/productos-roll.jpg',1)">
						<img src="{% static 'images/botones-anar/productos/productos.png' %}" name="Image14" width="110" height="21" border="0">
					</a>
				</td>
			</tr>
			<tr align="center">
				<td>
					<a href="servicio" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image15','','images/botones-anar/productos/servicio-roll.jpg',1)">
						<img src="{% static 'images/botones-anar/productos/servicio.png' %}" name="Image15" width="110" height="21" border="0">
					</a>
				</td>
			</tr>
			<tr align="center">
				<td>
						<img src="{% static 'images/botones-anar/productos/visitas.png' %}"name="Image16" width="110" height="21" border="0">
				</td>
			</tr>
			
		</table>
		<table width="510" cellspacing="0" border="0" align="left">
			<tr>
				<td>
					<p align="justify">
						<b>ANAR</b> desarrolla un variado programa de visitas guiadas y excursiones a sitios con Manifestaciones Rupestres en diferentes ecosistemas y lugares de interés turístico en varios estados del país, ofreciéndolos a colegios, universidades y grupos de 5 a 15 personas previo acuerdo.
					</p>
				</td>
			</tr>
		</table>
		<!-- Tomado de anar.org.ve -->
</body>
</html>
