<div id="avanzada">
  <p>Busqueda Avanzada</p>
  <div id="yacimientos">
    <p>Busqueda por Yacimiento</p>

    <p>Pais: <input type="text"></p>
    <p>Municipio/Distrito:<input type="text"></p>
    <p>Estado:
      <select size="1">
  <option selected></option>
	<option>Amazonas</option>
	<option>Anzoategui</option>
	<option>Apure</option>
	<option>Aragua</option>
	<option>Barinas</option>
	<option>Bolivar</option>
	<option>Carabobo</option>
	<option>Cojedes</option>
	<option>Delta Amacuro</option>
	<option>Falcon</option>
	<option>Guarico</option>
	<option>Lara</option>
	<option>Merida</option>
	<option>Miranda</option>
	<option>Monagas</option>
	<option>Nueva Esparta</option>
	<option>Portuguesa</option>
	<option>Sucre</option>
	<option>Tachira</option>
	<option>Trujillo</option>
	<option>Vargas</option>
	<option>Yaracuy</option>
	<option>Zulia</option>
    </select>
    </p>

    <p>Datos Generales del Yacimiento</p>

    <p>Nombre: <input type="text"></p>
    <p>Localidad: </p>
    <p>Uso Actual del Suelo: </p>
    <p>Fotografia: </p>
    <p>Tipo de Yacimiento: </p>
    <p>Hidrología</p>
    <p>Exposicion: </p>
    <p>Constitucion: </p>
    
    <p>Manifestacion</p>
    
    <p>Tipo: </p>
    <p>Ubicacion: </p>
    <p>Orientacion: </p>
    <select size="1">
      <option>Cerro</option>
      <option>Valle</option>
      <option>Rio</option>
      <option>Costa</option>
      <option>Otros</option>
    </select>
   </p>

   <p>Material: </p>
   
   <p>Tecnicas</p>

   <p>Tecnica: </p>

   <p>Caracteristicas del Surco Grabado: </p>
   <p>Caracteristicas de la Pintura: </p>
   <p>Caracteristicas de Monumentos Megaliticos: </p>

   <p>Conservacion</p>

   <p>Estado de Conservacion: </p>
   <p>Consideraciones de Temporalidad: </p>

   <p>Manifestaciones Asociadas</p>

   <p>Manifestaciones: </p>
   <p>Otros Valores: </p>

   <p>Apoyos: </p>

   <p>Observaciones: </p>
  
   </div>
</div>

