<div id="avanzada">
  <p>Busqueda Avanzada</p>
  <div id="yacimientos">
    <p>Busqueda por Yacimiento</p>

    <p>Pais: <input type="text"></p>
    <p>Municipio/Distrito:<input type="text"></p>
    <p>Estado:
      <select size="1">
	<option selected></option>
	<option>Amazonas</option>
	<option>Anzoategui</option>
	<option>Apure</option>
	<option>Aragua</option>
	<option>Barinas</option>
	<option>Bolivar</option>
	<option>Carabobo</option>
	<option>Cojedes</option>
	<option>Delta Amacuro</option>
	<option>Falcon</option>
	<option>Guarico</option>
	<option>Lara</option>
	<option>Merida</option>
	<option>Miranda</option>
	<option>Monagas</option>
	<option>Nueva Esparta</option>
	<option>Portuguesa</option>
	<option>Sucre</option>
	<option>Tachira</option>
	<option>Trujillo</option>
	<option>Vargas</option>
	<option>Yaracuy</option>
	<option>Zulia</option>
    </select>
    </p>

    <p>Datos Generales del Yacimiento</p>

    <p>Nombre: <input type="text"></p>
    <p>Localidad: <input type="text"> </p>
    <p>--Centro de Poblado <input type="checkbox"></p>
    <p>---Urbano <input type="checkbox"></p>
    <p>---Rural<input type="checkbox"></p>
    <p>---Indigena<input type="checkbox"></p>
    <p>---Nombre <input type="text"></p>
    <p>Uso Actual del Suelo: </p>
    <p>---Forestal <input type="checkbox"></p>
    <p>---Ganadero <input type="checkbox"></p>
    <p>---Agricultura de Riego <input type="checkbox"></p>
    <p>---Urbano <input type="checkbox"></p>
    <p>---Turistico <input type="checkbox"></p>
    <p>Fotografia: </p>
    <p>---Aerea <input type="checkbox"></p>
    <p>---No Aerea <input type="checkbox"></p>
    <p>---Satelital <input type="checkbox"></p>
    <p>---Fecha <input type="text"></p>

    <p>Tipo de Yacimiento: </p>
    <p>--Pared Rocosa <input type="checkbox"></p>
    <p>--Roca <input type="checkbox"></p>
    <p>--Dolmen (Natural) <input type="checkbox"></p>
    <p>--Abrigo <input type="checkbox"></p>
    <p>--Cueva <input type="checkbox"></p>
    <p>--Cueva de Recubrimiento <input type="checkbox"></p>
    <p>--Terreno Superficial <input type="checkbox"></p>
    <p>--Terreno Profundo <input type="checkbox"></p>

    <p>Hidrología: </p>
    <p>--Rio <input type="checkbox"></p>
    <p>--Laguna <input type="checkbox"></p>
    <p>--Arroyo <input type="checkbox"></p>
    <p>---Perenne <input type="checkbox"></p>
    <p>--Manantial <input type="checkbox"></p>
    <p>---Intermitente <input type="checkbox"></p>
    <p>--Otros <input type="text"></p>
    <p>--Nombre <input type="text"></p>
    <p>--Distancia del Yacimiento <input type="text"></p>
    <p>--Observaciones <input type="text"></p>

    <p>Exposicion: </p>
    <p>--Expuesto <input type="checkbox"></p>
    <p>--No Expuesto <input type="checkbox"></p>
    <p>--Expuesto Periodicamente <input type="checkbox"></p>
    <p>--Observaciones <input type="text"></p>

    <p>Constitucion: </p>
    <p>--Numero de Piedras en el Yacimiento Original <input type="text"></p>
    <p>---Numero de Piedras Grabadas <input type="text"></p>
    <p>---Numero de Piedras Pintadas <input type="text"></p>
    <p>---Numero de Piedras Colocadas <input type="text"></p>
    <p>--Otros <input type="text"></p>
    
    <p>Manifestacion</p>
    
    <p>Tipo: </p>
    <p>--Geoglifo <input type="checkbox"></p>
    <p>--Pintura Rupestre <input type="checkbox"></p>
    <p>--Petroglifo <input type="checkbox"></p>
    <p>---Petroglifo Pintado <input type="checkbox"></p>
    <p>--Micro-Petroglifo <input type="checkbox"></p>
    <p>--Piedra Mitica Natural <input type="checkbox"></p>
    <p>--Cerro Mitico Natural <input type="checkbox"></p>
    <p>---con Petroglifo <input type="checkbox"></p>
    <p>---con Pintura <input type="checkbox"></p>    
    <p>---con Dolmen <input type="checkbox"></p>    
    <p>--Monumentos Megaliticos <input type="checkbox"></p>
    <p>---Monolitos <input type="checkbox"></p>
    <p>----con Grabados <input type="checkbox"></p>
    <p>---Menhires <input type="checkbox"></p>
    <p>----con Puntos Acoplados <input type="checkbox"></p>
    <p>----con Petroglifo <input type="checkbox"></p>
    <p>----con Pintura <input type="checkbox"></p>
    <p>---Dolmen (artificial) <input type="checkbox"></p>
    <p>----con Petroglifo <input type="checkbox"></p>
    <p>----con Pintura <input type="checkbox"></p>
    <p>--Amolador <input type="checkbox"></p>
    <p>--Batea <input type="checkbox"></p>
    <p>--Puntos Acoplados <input type="checkbox"></p>
    <p>--Cupulas <input type="checkbox"></p>
    <p>--Mortero o Metate <input type="checkbox"></p>

    <p>Ubicacion: </p>
    <p>--Cerro <input type="checkbox"></p>
    <p>---Cima <input type="checkbox"></p>
    <p>---Ladera <input type="checkbox"></p>
    <p>---Falda <input type="checkbox"></p>
    <p>---Pie de Monte <input type="checkbox"></p>
    <p>---Barranco <input type="checkbox"></p>
    <p>---Acantilado <input type="checkbox"></p>
    <p>--Valle <input type="checkbox"></p>
    <p>--Rio <input type="checkbox"></p>
    <p>---Lecho <input type="checkbox"></p>
    <p>---Margen Derecha <input type="checkbox"></p>
    <p>---Margen Izquierda <input type="checkbox"></p>
    <p>---Isla <input type="checkbox"></p>
    <p>---Raudal <input type="checkbox"></p>
    <p>--Costa <input type="checkbox"></p>

    <p>Orientacion: </p>
    <select size="1">
      <option>Cerro</option>
      <option>Valle</option>
      <option>Rio</option>
      <option>Costa</option>
      <option>Otros</option>
    </select>
   </p>

   <p>Material: </p>
    <p>--Roca <input type="checkbox"></p>
    <p>---Ignea <input type="checkbox"></p>
    <p>---Metamorfica <input type="checkbox"></p>
    <p>---Sedimentaria <input type="checkbox"></p>
    <p>---Tipo <input type="text"></p>
    <p>--Tierra <input type="checkbox"></p>
    <p>--Hueso <input type="checkbox"></p>
    <p>--Corteza de Arbol <input type="checkbox"></p>
    <p>--Pieles <input type="checkbox"></p>
    <p>--Otros <input type="text"></p>
   
   <p>Tecnicas</p>

   <p>Tecnica: </p>
    <p>--Geoglifo <input type="checkbox"></p>
    <p>---Tenicas de Construccion <input type="text"></p>

    <p>--Pintura Rupestre <input type="checkbox"></p>
    <p>---Dedo <input type="checkbox"></p>
    <p>---Fibra <input type="checkbox"></p>
    <p>---Soplado <input type="checkbox"></p>
    <p>---Otros <input type="text"></p>

    <p>--Petroglifo <input type="checkbox"></p>
    <p>---Grabado <input type="checkbox"></p>
    <p>----Percusion <input type="checkbox"></p>
    <p>-----Directa <input type="checkbox"></p>
    <p>-----Indirecta <input type="checkbox"></p>
    <p>----Abrasion <input type="checkbox"></p>
    <p>-----Piedra <input type="checkbox"></p>
    <p>-----Arena <input type="checkbox"></p>
    <p>-----Concha <input type="checkbox"></p>
    <p>----Otros  <input type="text"></p>

    <p>--Micropetroglifo<input type="checkbox"></p>
    <p>---Grabado<input type="checkbox"></p>
    <p>----Percusion<input type="checkbox"></p>
    <p>-----Directa<input type="checkbox"></p>
    <p>-----Indirecta<input type="checkbox"></p>
    <p>----Abrasion<input type="checkbox"></p>
    <p>-----Piedra<input type="checkbox"></p>
    <p>-----Arena<input type="checkbox"></p>
    <p>-----Concha<input type="checkbox"></p>
    <p>----Otros <input type="text"></p>

    <p>--Monumentos Megaliticos <input type="checkbox"></p>
    <p>---Monolitos <input type="checkbox"></p>
    <p>---Menhires<input type="checkbox"></p>
    <p>---Dolmen<input type="checkbox"></p>
    <p>---Tecnicas de Construccion <input type="text"></p>
    <p>---Otros<input type="text"></p>


   <p>Caracteristicas del Surco Grabado: </p>
    <p>--Petroglifo <input type="checkbox"></p>
    <p>--Ancho: de <input type="text"> a <input type="text"> </p>
    <p>--Profundidad: de <input type="text"> a <input type="text"> </p>
    <p>---Base <input type="checkbox"></p>
    <p>----Redonda <input type="checkbox"></p>
    <p>----Aguda <input type="checkbox"></p>
    <p>---Bajo Relieve<input type="checkbox"></p>
    <p>----Lineal <input type="checkbox"></p>
    <p>----Planar <input type="checkbox"></p>
    <p>---Areas Interlineales<input type="checkbox"></p>
    <p>----Pulidas <input type="checkbox"></p>
    <p>----Rebajadas <input type="checkbox"></p>
    <p>---Grabados Superpuestos <input type="checkbox"></p>
    <p>---Grabados Rebajados <input type="checkbox"></p>
    <p>--Amoladores <input type="checkbox"></p>
    <p>---Largo <input type="text"> cm</p>
    <p>---Ancho <input type="text"> cm</p>
    <p>---Diametro <input type="text"></p>
    <p>--Bateas<input type="checkbox"></p>
    <p>---Largo <input type="text"></p>
    <p>---Ancho<input type="text"></p>
    <p>--Puntos Acoplados<input type="checkbox"></p>
    <p>---Punteado <input type="checkbox"></p>
    <p>--Cupula <input type="checkbox"></p>
    <p>--- Largo <input type="text"> cm</p>
    <p>--- Ancho <input type="text"> cm</p>
    <p>--- Diametro <input type="text"> cm</p>
    <p>--Mortero o Metate<input type="checkbox"></p>
    <p>---Largo<input type="text">cm</p>
    <p>---Ancho<input type="text">cm</p>

   <p>Caracteristicas de la Pintura: </p>
    <p>--Pintura Rupestre <input type="checkbox"></p>
    <p>---Tecnica<input type="checkbox"></p>
    <p>----Dactilar<input type="checkbox"></p>
    <p>----Fibra<input type="checkbox"></p>
    <p>----Otros<input type="text"></p>
    <p>---Tipo de Linea<input type="checkbox"></p>
    <p>----Linea Sencilla <input type="checkbox"></p>
    <p>-----De <input type="text"> cm a <input type="text"> cm</p>
    <p>----Linea Compuesta<input type="checkbox"></p>
    <p>-----De <input type="text"> cm a <input type="text"> cm</p>
    <p>---Figura rellena <input type="checkbox"></p>
    <p>---Impresion de manos<input type="checkbox"></p>
    <p>----Positivo<input type="checkbox"></p>
    <p>----Negativo<input type="checkbox"></p>
    <p>---Figuras Superpuestas <input type="checkbox"></p>
    <p>--Colores: </p>


   <p>Caracteristicas de Monumentos Megaliticos: </p>


   <p>Conservacion</p>

   <p>Estado de Conservacion: </p>


   <p>Consideraciones de Temporalidad: </p>


   <p>Manifestaciones Asociadas</p>

   <p>Manifestaciones: </p>


   <p>Otros Valores: <input type="text"></p>

   <p>Apoyos: </p>

   <p>Observaciones: <input type="text"></p>
  
   </div>
</div>
