<div id="avanzada">
  <p>Busqueda Avanzada</p>
  <div id="yacimientos">
    <p>Busqueda por Yacimiento</p>
    <p>Nombre:<input type="text"></p>
    <p>Municipio/Distrito:<input type="text"></p>
    <p>Estado:
    <select size="1">
      <option selected></option>
      <option>Amazonas</option>
      <option>Anzoategui</option>
      <option>Apure</option>
      <option>Aragua</option>
      <option>Barinas</option>
      <option>Bolivar</option>
      <option>Carabobo</option>
      <option>Cojedes</option>
      <option>Delta Amacuro</option>
      <option>Falcon</option>
      <option>Guarico</option>
      <option>Lara</option>
      <option>Merida</option>
      <option>Miranda</option>
      <option>Monagas</option>
      <option>Nueva Esparta</option>
      <option>Portuguesa</option>
      <option>Sucre</option>
      <option>Tachira</option>
      <option>Trujillo</option>
      <option>Vargas</option>
      <option>Yaracuy</option>
      <option>Zulia</option>
    </select></p>
    <p>Fotografia:<input type="checkbox"></p>
    <p>Orientacion:
    <select size="1">
      <option>Cerro</option>
      <option>Valle</option>
      <option>Rio</option>
      <option>Costa</option>
      <option>Otros</option>
    </select></p>
  </div>
  <div id="piedras">
    <p>Busqueda por Piedras u Obras</p>
    <p>Nombre de la Roca:<input type="text"></p>
    <p>Nombre de las Figuras:<input type="text"></p>
  </div>
</div>
