<!-- Agregar Campos de tipo N del formulario (numeros)-->
<div id="avanzada">
  <p>Busqueda Avanzada</p>
  <div id="yacimientos">
    <p>Busqueda por Yacimiento</p>

    <p>Pais: <input type="text"></p>
    <p>Municipio/Distrito:<input type="text"></p>
    <p>Estado:
      <select size="1">
	<option selected></option>
	<option>Amazonas</option>
	<option>Anzoategui</option>
	<option>Apure</option>
	<option>Aragua</option>
	<option>Barinas</option>
	<option>Bolivar</option>
	<option>Carabobo</option>
	<option>Cojedes</option>
	<option>Delta Amacuro</option>
	<option>Falcon</option>
	<option>Guarico</option>
	<option>Lara</option>
	<option>Merida</option>
	<option>Miranda</option>
	<option>Monagas</option>
	<option>Nueva Esparta</option>
	<option>Portuguesa</option>
	<option>Sucre</option>
	<option>Tachira</option>
	<option>Trujillo</option>
	<option>Vargas</option>
	<option>Yaracuy</option>
	<option>Zulia</option>
    </select>
    </p>

    <p>Datos Generales del Yacimiento</p>

    <p>Nombre: <input type="text"></p>
    <p>Localidad: <input type="text"> </p>
    <p>--Centro de Poblado
      <select size="1">
	<option selected></option>
	<option>Urbano</option>
	<option>Rural</option>
	<option>Indigena</option>
      </select>
    </p>
    <p>---Nombre <input type="text"></p>
    <p>Uso Actual del Suelo: </p>
    <p>---Forestal <input type="checkbox"></p>
    <p>---Ganadero <input type="checkbox"></p>
    <p>---Agricultura de Riego <input type="checkbox"></p>
    <p>---Urbano <input type="checkbox"></p>
    <p>---Turistico <input type="checkbox"></p>
    <p>Fotografia: </p>
    <p>---Aerea <input type="checkbox"></p>
    <p>---No Aerea <input type="checkbox"></p>
    <p>---Satelital <input type="checkbox"></p>
    <p>---Fecha <input type="text"></p>

    <p>Tipo de Yacimiento: 
      <select size="1">
	<option selected></option>
	<option>Pared Rocosa</option>
	<option>Roca</option>
	<option>Dolmen</option>
	<option>Abrigo</option>
	<option>Cueva</option>
	<option>Cueva de Recubrimiento</option>
	<option>Terreno Superficial</option>
	<option>Terreno Profundo</option>
      </select>
    </p>

    <p>Hidrologia:
      <select size="1">
	<option selected></option>
	<option>Rio</option>
	<option>Laguna</option>
	<option>Arroyo</option>
	<option>Arroyo Perenne</option>
	<option>Manantial</option>
	<option>Manantial Intermitente</option>
	<option>Otro</option>
      </select>
    </p>
    <p>--Otros <input type="text"></p>
    <p>--Nombre <input type="text"></p>
    <p>--Distancia del Yacimiento <input type="text"></p>
    <p>--Observaciones <input type="text"></p>

    <p>Exposicion:
    <select size="1">
	<option selected></option>
	<option>Expuesto</option>
	<option>No Expuesto</option>
	<option>Expuesto Periodicamente</option>
    </select>
    </p>
    <p>--Observaciones <input type="text"></p>

    <p>Constitucion: </p>
    <p>--Numero de Piedras en el Yacimiento Original <input type="text"></p>
    <p>---Numero de Piedras Grabadas <input type="text"></p>
    <p>---Numero de Piedras Pintadas <input type="text"></p>
    <p>---Numero de Piedras Colocadas <input type="text"></p>
    <p>--Otros <input type="text"></p>
    
    <p>Manifestacion</p>
    
    <p>Tipo: 
      <select>
	<option selected></option>
	<option>Geoglifo</option>
	<option>Pintura Rupestre</option>
	<option>Petroglifo</option>
	<option>Petroglifo Pintado</option>
	<option>Micropetroglifo</option>
	<option>Piedra Mitica Natural</option>
	<option>Cerro Mitico Natural</option>
	<option>Monumentos Megaliticos</option>
	<option>Monolitos</option>
	<option>Monolitos con Grabados</option>
	<option>Menhires</option>
	<option>Menhires con Puntos Acoplados</option>
	<option>Dolmen (artificial)</option>
	<option>Amolador</option>
	<option>Batea</option>
	<option>Puntos Acoplados</option>
	<option>Cupulas</option>
	<option>Mortero o Metate</option>
      </select>
      Con: 
      <select>
	<option selected></option>
	<option>Petroglifo</option>
	<option>Pintura</option>
	<option>Dolmen</option>
      </select>
    </p>

    <p>Ubicacion: </p>
    <p>--Cerro <input type="checkbox"> en
      <select>
	<option selected></option>
	<option>Cima</option>
	<option>Ladera</option>
	<option>Falda</option>
	<option>Pie de Monte</option>
	<option>Barranco</option>
	<option>Acantilado</option>
      </select>
    </p>
    <p>--Valle <input type="checkbox"></p>
    <p>--Rio <input type="checkbox"> en
    <select>
      <option selected></option>
      <option>Lecho></option>
      <option>Margen Derecha</option>
      <option>Margen Izquierda</option>
      <option>Isla</option>
      <option>Raudal</option>
    </select></p>
    <p>--Costa <input type="checkbox"></p>

    <p>Orientacion:
    <select size="1">
      <option selected></option>
      <option>Cerro</option>
      <option>Valle</option>
      <option>Rio</option>
      <option>Costa</option>
      <option>Otros</option>
    </select>
   </p>

   <p>Material: </p>
   <p>Roca: 
     <select size="1">
       <option selected></option>
       <option>Ignea</option>
       <option>Sedimentaria</option>
       <option>Metamorfica</option>
     </select>
     de tipo <input type="text">
   </p>
    <p>--Tierra <input type="checkbox"></p>
    <p>--Hueso <input type="checkbox"></p>
    <p>--Corteza de Arbol <input type="checkbox"></p>
    <p>--Pieles <input type="checkbox"></p>
    <p>--Otros <input type="text"></p>
   
   <p>Tecnicas</p>

   <p>Tecnica: </p>
    <p>--Geoglifo <input type="checkbox"></p>
    <p>---Tenicas de Construccion <input type="text"></p>

    <p>--Pintura Rupestre <input type="checkbox"> con 
    <select size="1">
      <option selected></option>
      <option>Dedo</option>
      <option>Fibra</option>
      <option>Soplado</option>
      <option>Otros</option>
    </select>
    </p>

    <p>--Petroglifo <input type="checkbox"> con
      <select>
	<option selected></option>
	<option>Grabado</option>
	<option>Percusion</option>
	<option>Percusion Directa</option>
	<option>Percusion Indirecta</option>
	<option>Abrasion</option>
	<option>Abrasion con Piedra</option>
	<option>Abrasion con Arena</option>
	<option>Abrasion con Concha</option>
	<option>Combinacion</option>
	<option>Otros</option>
      </select>
    </p>
    <p>--Micropetroglifo<input type="checkbox">
      <select>
	<option selected></option>
	<option>Grabado</option>
	<option>Percusion</option>
	<option>Percusion Directa</option>
	<option>Percusion Indirecta</option>
	<option>Abrasion</option>
	<option>Abrasion con Piedra</option>
	<option>Abrasion con Arena</option>
	<option>Abrasion con Concha</option>
	<option>Combinacion</option>
	<option>Otros</option>
      </select>
    </p>

    <p>--Monumentos Megaliticos <input type="checkbox">
      <select>
	<option selected></option>
	<option>Monolito</option>
	<option>Menhires</option>
	<option>Dolmen</option>
      </select>
    </p>
    <p>---Tecnicas de Construccion <input type="text"></p>
    <p>---Otros<input type="text"></p>


   <p>Caracteristicas del Surco Grabado: </p>
    <p>--Petroglifo <input type="checkbox"></p>
    <p>--Ancho: de <input type="text"> a <input type="text"> </p>
    <p>--Profundidad: de <input type="text"> a <input type="text"> </p>
    <p>---Base <input type="checkbox">
      <select>
	<option selected></option>
	<option>Redonda</option>
	<option>Aguda</option>
      </select>
    </p>
    <p>---Bajo Relieve<input type="checkbox">
      <select>
	<option selected></option>
	<option>Lineal</option>
	<option>Planar</option>
      </select>
    </p>
    <p>---Areas Interlineales<input type="checkbox">
      <select>
	<option selected></option>
	<option>Pulidas</option>
	<option>Rebajadas</option>
      </select>
    </p>
    <p>---Grabados Superpuestos <input type="checkbox"></p>
    <p>---Grabados Rebajados <input type="checkbox"></p>
    <p>--Amoladores <input type="checkbox"></p>
    <p>---Largo <input type="text"> cm</p>
    <p>---Ancho <input type="text"> cm</p>
    <p>---Diametro <input type="text"></p>
    <p>--Bateas<input type="checkbox"></p>
    <p>---Largo <input type="text"></p>
    <p>---Ancho<input type="text"></p>
    <p>--Puntos Acoplados<input type="checkbox"></p>
    <p>---Punteado <input type="checkbox"></p>
    <p>--Cupula <input type="checkbox"></p>
    <p>--- Largo <input type="text"> cm</p>
    <p>--- Ancho <input type="text"> cm</p>
    <p>--- Diametro <input type="text"> cm</p>
    <p>--Mortero o Metate<input type="checkbox"></p>
    <p>---Largo<input type="text">cm</p>
    <p>---Ancho<input type="text">cm</p>

   <p>Caracteristicas de la Pintura: </p>
    <p>--Pintura Rupestre <input type="checkbox"> de tipo
      <select size="1">
	<option selected><option>
	<option>Dactilar</option>
	<option>Fibra</option>
	<option>Otros</option>
      </select>
    </p>

    <p>---Tipo de Linea: </p>
    <p>----Linea Sencilla <input type="checkbox"></p>
    <p>-----De <input type="text"> cm a <input type="text"> cm</p>
    <p>----Linea Compuesta<input type="checkbox"></p>
    <p>-----De <input type="text"> cm a <input type="text"> cm</p>
    <p>---Figura rellena <input type="checkbox"></p>
    <p>---Impresion de manos<input type="checkbox"> de tipo 
    <select size="1">
      <option selected></option>
      <option>Positivo</option>
      <option>Negativo</option>
    </select>
    </p>
    <p>---Figuras Superpuestas <input type="checkbox"></p>
    <p>--Colores: </p>


   <p>Caracteristicas de Monumentos Megaliticos: </p>

    <p>Monolitos<input type="checkbox"> cantidad <input type="text"></p>
    <p>Monolitos con grabados <input type="checkbox"> cantidad <input type="text"></p>

    <p>Menhires <input type="checkbox"> </p>
    <p>con piedras verticales<input type="checkbox"> cantidad <input type="text"></p>
    <p>con puntos Acoplados <input type="checkbox"> cantidad <input type="text"></p>
    <p>con petroglifo <input type="checkbox"> cantidad <input type="text"></p>
    <p>con pinturas <input type="checkbox"> cantidad <input type="text"></p>
    <p>con distanciamiento <input type="text"></p>

    <p>Dolmen (artificial)</p>
    <p>con petroglifo <input type="checkbox"> cantidad <input type="text"></p>
    <p>con pinturas <input type="checkbox"> cantidad <input type="text"></p>

    <p>Notas <input type="text"></p>

   <p>Conservacion</p>

   <p>Estado de Conservacion:
   <select>
     <option selected></option>
     <option>Bueno</option>
     <option>Modificado</option>
   </select>
   </p>
   <p>Detalles de la modificacion (solo si aplica): </p>
   <p>trasladado <input type="checkbox"> Pa(s) N<input type="text"></p>
   <p>sumergido <input type="checkbox"> Pa(s) N<input type="text"></p>
   <p>enterrado <input type="checkbox"> Pa(s) N<input type="text"></p>
   <p>perdido <input type="checkbox"> Pa(s) N<input type="text"></p>
   <p>destruido <input type="checkbox"> Pa(s) N<input type="text"></p>
   <p>crecimiento vegetal <input type="checkbox"> Pa(s) N<input type="text"></p>
   <p>patina <input type="checkbox"> Pa(s) N<input type="text"></p>
   <p>erosion <input type="checkbox"> Pa(s) N<input type="text"></p>
   <p>Grado de destruccion del sitio (solo si aplica): 
     <select>
       <option selected></option>
       <option>Natural</option>
       <option>Ligera</option>
     </select>
     de tipo 
     <select>
       <option selected></option>
       <option>Ligera</option>
       <option>Aguda</option>
     </select>
   </p>

<p>Causa y efecto <input type="text"></p>

<p>Destruccion otencial del sitio por causas 
  <select>
    <option selected></option>
    <option>Desconocidas</option>
    <option>asentamiento humano</option>
    <option>Obra infraestructura a corto plazo</option>
    <option>Obra infraestructura a mediano plazo</option>
    <option>Obra infraestructura a largo plazo</option>
    <option>Nivelacion del terreno como obra agricola</option>
    <option>Extraccion (actividad familiar)</option>
    <option>Extraccion (actividad mayor)</option>
    <option>Vandalismo</option>
    <option>Erosion</option>
    <option>Erosion Parcial (Moderada)</option>
    <option>Erosion Parcial (Severa)</option>
    <option>Erosion Extensiva (Moderada)</option>
    <option>Erosion Extensiva (Severa)</option>
    <option>Combinacion</option>
    <option>Otras</option>
  </select>
</p>

<p>Tiempo: 
  <select>
    <option selected></option>
    <option>1 ano</option>
    <option>2 anos</option>
    <option>2 anos</option>
    <option>3 anos</option>
    <option>4 anos</option>
    <option>5 anos</option>
    <option>mas</option>
  </select>

<p>Consideraciones de Temporalidad: </p>
    <p>Patina <input type="checkbox"></p>
    <p>Otros <input type="text"></p>

<p>Manifestaciones Asociadas</p> (campo texto y checkbox)
<p> Litica <input type="checkbox"> <input type="text"></p>
<p> Ceramica <input type="checkbox"> <input type="text"></p>
<p> Oseo <input type="checkbox"> <input type="text"></p>
<p> Concha <input type="checkbox"> <input type="text"></p>
<p> Carbon no superficial <input type="checkbox"> <input type="text"></p>
<p> Mitos <input type="checkbox"> <input type="text"></p>
<p> Cementerios <input type="checkbox"> <input type="text"></p>
<p> Monticulos <input type="checkbox"> <input type="text"></p>
<p> Otros <input type="checkbox"> <input type="text"></p>

<p>Apoyos: </p>
<p>Bibliografia:</p>
<p> Codigo <input type="text"></p>
<p> Titulo <input type="text"></p>
<p> Autor <input type="text"></p>
<p> Ano <input type="text"></p>
<p> Institucion <input type="text"></p>
<p> con dibujo <input type="text"></p>

<p> con fotografia <input type="text"></p>
<p> a color <input type="checkbox"> </p>
<p> en blanco y negro <input type="checkbox"> </p>
<p> en diapositiva <input type="checkbox"> </p>
<p> en papel <input type="checkbox"> </p>
<p> en digital <input type="checkbox"> </p>
<p>en negativo  <input type="checkbox"> </p>

<p>con mapa <input type="text"></p>
<p>satelital <input type="checkbox"></p>
<p>radar <input type="checkbox"></p>

<p>Material Audiovisual <input type="checkbox"></p>
<p>en formato <input type="text"></p>

<p>Acompanado de
  <select>
    <option selected></option>
    <option>Videos</option>
    <option>Peliculas</option>
  </select>
<p>Ano: <input type="text"></p>
<p>Formato: <input type="text"></p>
<p>Titulo: <input type="text"></p>
<p>Autor: <input type="text"></p>
<p>Institucion: <input type="text"></p>
<p>Numero de Referencia: <input type="text"></p>
<p>de Anar: <input type="checkbox"> con numero de copia <input type="text"></p>

<p>Pagina Web: <input type="text"></p>

<p>Multimedia <input type="checkbox"></p>
<p>con tecnica <input type="text"></p>

<p>Otros Valores: <input type="text"></p>
<p>Observaciones: <input type="text"></p>
  
   </div>
  <div id="piedra">
    Codigo Pa00 
    (Codigo Anar)

    Estado Pa3  
    (Estado)

    Datos Generales de la Roca 
    Pa1 Pa2 Pa4 Pa5 Pa6 Pa7 Pa8

    Nombre, Nombres, de las Figuras, Numero de Caras, Num de Caras Trabajadas, Orientacion de Caras Trabajadas, Dimensiones, Ubicacion de las caras trabajadas
 
    Las Figuras Pa9 Pa10 Pa11
    Figuras, Esquema por Cara, Conexion de figuras

    Tratamiento de la Roca Pa12
    
    Manif. Asociadas Pa1.1 Pa 15 Otros valores de la roca
    
    Apoyos Pa13, Pa14
    Apoyos Informacion Obtenida Por
    Observaciones Pa16
  </div>
</div>
