<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	{% load url from future %}
	<title>Archivo Nacional de Arte Rupestre</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'anarapp/avanzada.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'anarapp/chosen.css' %}">
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="{% static 'anarapp/chosen.jquery.js' %}"></script>
	<script>
		$(document).ready(function(){$(".chosen").chosen()})
	</script>
	
</head>
<body>

	<ul id="nav">
		<li><a href="/">Inicio</a></li>
		<li><a href="#quienes">Quienes Somos</a></li>
		<li><a href="#patrimonio">Patrimonio Rupestre Venezolano</a></li>
		<li><a href="#programa">Programa de Educacion</a></li>
		<li><a href="#otros">Otros Servicios</a></li>
		<li><a href="#contacto">Contacto</a></li>
	</ul>

	<div id="buscador">
		<img src="{% static 'anarapp/logo.png' %}" height="100"><br/><br/>
    	<form method="get" action="{% url 'results' %}">
		    <table style="margin:auto">
		        {{ form.as_table }}
		        <tr>
		            <td colspan="2">
		                <input type="submit" class="button" value="Buscar">
		            </td>
		        </tr>
		    </table>
		</form>
	</div>

</body>
</html>
