<p>Codigo</p> <input type="text">

<p>Estado</p>
<select size = "1">
  <option selected></option>
	<option>Amazonas</option>
	<option>Anzoategui</option>
	<option>Apure</option>
	<option>Aragua</option>
	<option>Barinas</option>
	<option>Bolivar</option>
	<option>Carabobo</option>
	<option>Cojedes</option>
	<option>Delta Amacuro</option>
	<option>Falcon</option>
	<option>Guarico</option>
	<option>Lara</option>
	<option>Merida</option>
	<option>Miranda</option>
	<option>Monagas</option>
	<option>Nueva Esparta</option>
	<option>Portuguesa</option>
	<option>Sucre</option>
	<option>Tachira</option>
	<option>Trujillo</option>
	<option>Vargas</option>
	<option>Yaracuy</option>
	<option>Zulia</option>
</select>

<p>Datos Generales de la Roca</p>

<p>Nombre de la roca </p>
<input type="text">

<p>Nombres de las Figuras</p>
<input type="text">

<p>Numero de Caras</p>
<input type="text">

<p>Numero de Caras Trabajadas</p>
<input type="text">

<p>Orientacion de las Caras Trabajadas</p>
<select size = "1">
	<option selected></option>
	<option>N - 1</option>
	<option>NE - 2</option>
	<option>E - 3</option>
	<option>SE - 4</option>
	<option>S - 5</option>
	<option>SO - 6</option>
	<option>O - 7</option>
	<option>NO - 8</option>
	<option>Combinacion</option>
</select>

<p>Dimensiones</p>

<p>Alto maximo (mts)</p>
<input type="text">

<p>Largo maximo (mts)</p>
<input type="text">

<p>Ancho o prof. max (mts)</p>
<input type="text">


<p>Ubicacion de las caras trabajadas</p>

<p>en toda la caverna <input type="checkbox"></p>

<p>en areas especificas</p>
<select size = "1">
	<option selected></option>
	<option>Sala Principal</option>
	<option>Otra Sala</option>
	<option>Lago Interior</option>
	<option>Claraboya</option>
</select>

<p>distancia de la boca principal (mts)</p>
<input type="text">

<p>luminosidad </p>
<select size = "1">
	<option selected></option>
	<option>fotico</option>
	<option>escotico</option>
</select>

<p>altura</p>
<input type="text">

<p>requiere andamiaje <input type="checkbox">  </p>


<p>Las Figuras</p>

<p>Antropomorfas </p>
<p> numero de cara (segun orientacion)</p>
 <input type="text">
<p> cantidad</p>
 <input type="text">
<p> descripcion</p>
 <input type="text">

<p>Zoomorfas </p>
<p> numero de cara (segun orientacion)</p>
 <input type="text">
<p> cantidad</p>
 <input type="text">
<p> descripcion</p>
 <input type="text">

<p>Geometricas </p>
<p> numero de cara (segun orientacion)</p>
 <input type="text">
<p> cantidad</p>
 <input type="text">
<p> descripcion</p>
 <input type="text">

<p>Puntos Acoplados </p>
<p> numero de cara (segun orientacion)</p>
 <input type="text">
<p> cantidad</p>
 <input type="text">
<p> descripcion</p>
 <input type="text">

<p>Cupulas  </p>
<p> numero de cara (segun orientacion)</p>
 <input type="text">
<p> cantidad</p>
 <input type="text">
<p> descripcion</p>
 <input type="text">

<p>Zoo Antropomorfas </p>
<p> numero de cara (segun orientacion)</p>
 <input type="text">
<p> cantidad</p>
 <input type="text">
<p> descripcion</p>
 <input type="text">

<p>Antropo geometricas</p>
<p> numero de cara (segun orientacion)</p>
 <input type="text">
<p> cantidad</p>
 <input type="text">
<p> descripcion</p>
 <input type="text">

<p>Zoo geometricas</p>
<p> numero de cara (segun orientacion)</p>
 <input type="text">
<p> cantidad</p>
 <input type="text">
<p> descripcion</p>
 <input type="text">


<p>Amoladores</p>
<p> numero de cara (segun orientacion)</p>
 <input type="text">
<p> cantidad</p>
 <input type="text">
<p> descripcion</p>
 <input type="text">


<p>Bateas</p>
<p> numero de cara (segun orientacion)</p>
 <input type="text">
<p> cantidad</p>
 <input type="text">
<p> descripcion</p>
 <input type="text">



<p>Esquema por cara (Posicion de figura por cara)</p>

<p>N - 1</p>
<select size = "1">
	<option selected></option>
	<option>Toda la cara - 0</option>
	<option>Centro - 1</option>
	<option>Adelante - 2</option>
	<option>Derecha - 3</option>
	<option>Atras - 4</option>
	<option>Izquierda - 5</option>
</select>

<p>NE - 2</p>
<select size = "1">
	<option selected></option>
	<option>Toda la cara - 0</option>
	<option>Centro - 1</option>
	<option>Adelante - 2</option>
	<option>Derecha - 3</option>
	<option>Atras - 4</option>
	<option>Izquierda - 5</option>
</select>

<p>E - 3</p>
<select size = "1">
	<option selected></option>
	<option>Toda la cara - 0</option>
	<option>Centro - 1</option>
	<option>Adelante - 2</option>
	<option>Derecha - 3</option>
	<option>Atras - 4</option>
	<option>Izquierda - 5</option>
</select>

<p>SE - 4</p>
<select size = "1">
	<option selected></option>
	<option>Toda la cara - 0</option>
	<option>Centro - 1</option>
	<option>Adelante - 2</option>
	<option>Derecha - 3</option>
	<option>Atras - 4</option>
	<option>Izquierda - 5</option>
</select>

<p>S - 5</p>
<select size = "1">
	<option selected></option>
	<option>Toda la cara - 0</option>
	<option>Centro - 1</option>
	<option>Adelante - 2</option>
	<option>Derecha - 3</option>
	<option>Atras - 4</option>
	<option>Izquierda - 5</option>
</select>

<p>SO - 6</p>
<select size = "1">
	<option selected></option>
	<option>Toda la cara - 0</option>
	<option>Centro - 1</option>
	<option>Adelante - 2</option>
	<option>Derecha - 3</option>
	<option>Atras - 4</option>
	<option>Izquierda - 5</option>
</select>

<p>O - 7</p>
<select size = "1">
	<option selected></option>
	<option>Toda la cara - 0</option>
	<option>Centro - 1</option>
	<option>Adelante - 2</option>
	<option>Derecha - 3</option>
	<option>Atras - 4</option>
	<option>Izquierda - 5</option>
</select>

<p>NO - 8</p>
<select size = "1">
	<option selected></option>
	<option>Toda la cara - 0</option>
	<option>Centro - 1</option>
	<option>Adelante - 2</option>
	<option>Derecha - 3</option>
	<option>Atras - 4</option>
	<option>Izquierda - 5</option>
</select>

<p>Conexion de figuras</p>
<select size = "1">
	<option selected></option>
	<option>Una sola Figura</option>
	<option>Menos del 10% interconectadas</option>
	<option>50% interconectadas</option>
	<option>Mas del 80% interconectadas</option>
</select>


<p>Tratamiento de la Roca (para fotografia)</p>

<p>limpieza con</p>
<input type="text"> 

<p>relleno de surcos con</p>
<input type="text"> 

<p>tratamiento digital </p>
<input type="text"> 

<p>orograma/version </p>
<input type="text"> 

<p>otros</p>
<input type="text"> 

<p>Manifestaciones Asociadas</p>
<input type="text"> 

<p>Otros valores de la roca</p>
<input type="text"> 

<p>Apoyos (Codigo)</p>
<input type="text"> 

<p>Metodo de obtencion de Informacion (Codigo)</p>
<input type="text"> 

<p>Observaciones</p>
<input type="text">
