<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	{% load url from future %}
	{% load staticfiles %}
	<title>Archivo Nacional de Arte Rupestre</title>
	<link rel="stylesheet" type="text/css" href="{% static 'anarapp/informacion.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'anarapp/chosen.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'anarapp/anar.css' %}">
	
</head>
<body>

	<ul id="nav">
		<li><a href="/">Inicio</a></li>
		<li><a href="#quienes">Quienes Somos</a></li>
		<li><a href="#patrimonio">Patrimonio Rupestre Venezolano</a></li>
		<li><a href="#programa">Programa de Educacion</a></li>
		<li><a href="#otros">Otros Servicios</a></li>
		<li><a href="#contacto">Contacto</a></li>
	</ul>


	  <div id="barralateral">
	    {% block barralateral %}{% endblock %}
	  </div>

	  <div id="contenido">
	    {% block contenido %}{% endblock %}
	  </div>
</body>
</html>
